*{
    margin: 0;
    padding: 0;
}
/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {
 color:white;
}


/*Css hero*/
.main{

    width: 100%;
    height: 100vh;
    background: url(https://wallpapercave.com/wp/wp10271238.jpg);
    background-size: cover;
}
.main-content{
    max-width: 100%;
    height: 100%;
}
.main-title{
    padding: 200px 0 0 20px;
}
.main-title h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    line-height: 45px;
}
.main-title h2{
    font-size: 30px;
    font-weight: 300;
    color:white;
    margin-top: 45px;
    
    margin-bottom: 20px;
    line-height: 32px;
}
.main-title h3{
    color: white;
}
.btn{
    color: black;
  background-color:white;
  margin-top: 20px;
}
.btn:hover{
    color: white;
    background-color: black;
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #c6d0cb;
    background-image: linear-gradient(45deg, #f0b217c6 0%, #ecebde 100%);
}
.contatti{
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 20px;
    flex: 100;
    color: blue;
    margin-left: 20px;
    font-size: 25px
}
.Ritorna{
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 20px;
    margin-right: 120px;
    color: blue;
    font-size: 25px;
}

.copyright{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: blue;
    font-size: 25px;
}