.navbar-brand,.nav-link,.main-title h3 {
    color:#FFF;
    }
        .navbar-brand,.nav-link:hover{
            color: gold;
        }
        
    .main,.main-content {
    width:100%;
    height:100vh;
    background:url(https://wallpapercave.com/wp/wp10271238.jpg);
    background-size:cover;
    }
    .main-title {
    padding:200px 0 0 20px;
    }
    
    .main-title h1{
    font-size:40px;
    color:#fff;
    margin-bottom:20px;
    line-height:45px;
    }
    
    .main-title h2 {
    font:30px 300;
    color:#FFF;
    margin: 45px 20px;
    line-height:32px;
    }
.footer{
    display: flex;
    flex: row-wrap;
    background: black;
    color: #FFF;
}
.contatti,.Ritorna{
    flex: 100px;
    margin: 20px;
    font-size: 25px;
}
.copyright{
    font:cormoran;
    margin: 20px;
}
