.hero{
    background-image: url(https://wallpapercave.com/wp/wp8759475.jpg);
background-size: cover;
    max-height: 100%;
width: 100%;

}
.hero header{
    font-size: 40px;
    color: bisque;
    text-decoration: underline;
    background-color: black;

}
/*css container1*/
.container-1{
    display: flex;
    flex-wrap: wrap;
}
.box-1{
    margin:40px
}
.box-1 h4{
    color: white;
    padding-bottom: 10px;
}
.box-1 img{
    box-sizing: border-box;
    border: 5px gold solid;
}
.box-1 p{
    color:salmon;
    text-decoration: underline;
}
/*container-2*/
.container-2{
    display: flex;
    flex-flow: row wrap;
    margin: 40px;
}
.container-2 h1{
    color: gold;
    
}
.box-2 h4{
    color: white;
    text-decoration:underline;
    margin-left: 10px;
}
.box-2 h5{
    color: white;
    margin-left: 10px;
}
.box-2 img{
    box-sizing: border-box;
border: 5px solid sandybrown;
align-self: center;
margin-left: 10px;
}
.box-2 p{
    color: gold;
    margin-left: 10px;
    text-decoration: underline;
}
/*box-3*/

.box-3 h4{
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}.box-3 h5{
    color: white;
  margin: 0px 10px 0px 50px;
}
.box-3 img{
    float: right;
    margin-right: 45px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 5px solid white;
}
/*container-3*/
.container-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}
.box-4 img{
    box-sizing: border-box;
    border: 5px solid white;
    margin-left: 10px;
    margin-top: 10px;
}
.box-5{
    flex: 100;
    color: white;
    margin-left: 10px;
}
.box-5 h4{
    text-decoration: underline;
}
/*container-4*/
.container-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}
.box-6{
    flex: 100;
    color: white;
    margin-left: 10px;
}
.box-6 img{
    box-sizing: border-box;
    border: 5px solid red;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}
.box-6 h4{
    margin-left: 10px;
    text-decoration: underline;
    margin-top: 10px;
}
.box-6 h5{
    margin-left: 10px;
    clear: right;
}
/*container-5*/
.container-5{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.box-8{
    margin-left: 10px;
}
.box-8 h2{
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 10px;
}
.box-8 h5{
    color: white;
}
.box-8 img{
    box-sizing: border-box;
    border: 5px solid green;
}
.box-8 p{
    color: white;
}
/*footer*/
.footer
{display: flex;
    flex-direction: column;
    background-color: black;
    color: bisque;

}

