*{
    margin: 0;
    padding: 0;
}

/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {

    color: white;
}

/*immagine hero*/
.hero{
    background-color: #c4ecf9;
    background-image: linear-gradient(45deg, #cbfdfc 0%, #a8e6f1 100%);
    
}
.header{
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color:white ;
    color: blue;
    
}
.description{
    margin:20px
}
/*Css per background card progetti*/
/*bg card*/
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    gap: 10px;
    padding-top: 10px;
}
/*personalizzazione card*/
.box-1{
   flex:100;
   margin:20px;
   margin-bottom: 5px;
}
.box-2{flex: 100;
margin:20px;margin-bottom: 5px;}
.box-3{flex: 100;margin: 20px;margin-bottom: 5px;}
.box-4{flex: 100;margin:20px;margin-bottom: 5px;}
.box-5{flex: 100;margin:20px;margin-bottom: 5px;}
.box-6{flex: 100;margin:20px;margin-bottom: 5px;}
/*custom delle card*/
.card{
    box-sizing: border-box;
    border-radius: 5px;
    border: #daa90a solid;  
}
/*custom btn*/
.btn{
    color:white ;
    background-color: #3bcc7f;}

.btn:hover{
    color: #daa90a;
    background-color:#FFFB7D
}
.btn::after{
    color: black;
    background-color: white;
}
/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #edaaee;
    background-image: linear-gradient(45deg, #e7bbd9 0%, #e7a8da 100%);
}
.contatti{
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 20px;
    flex: 100;
    color: blue;
    margin-left: 20px;
    font-size: 25px
}
.Ritorna{
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 20px;
    margin-right: 120px;
    color: blue;
    font-size: 25px;
}

.copyright{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: blue;
    font-size: 25px;
}