
.hero {
background-color:#FFF;
}

.header {
font-size:60px;
text-decoration:underline;
text-decoration-color:#FFF;
background: rgb(190, 209, 190);
}

.description {
margin:20px;
}

.flex-container {
display:flex;
flex-direction:row;
flex-wrap:wrap;
background: rgb(190, 209, 190);
gap:10px;
padding-top:10px;
}

.card {
box-sizing:border-box;
border-radius:5px;
border:#daa90a solid;
}

.btn {
color:#FFF;
background-color:#3bcc7f;
}

.btn:hover {
color:#daa90a;
background-color:#FFFB7D;
}

.btn::after {
color:#000;
background-color:#FFF;
}

.footer {
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color: #404543;
}

.contatti {
text-decoration:underline;
text-decoration-color:#FFF;
margin-top:20px;
flex:100;
color:white;
margin-left:20px;
font-size:25px;
}

.Ritorna {
text-decoration:underline;
text-decoration-color:black;
margin-top: 20px;
margin-right: 120px;
color:white;
font-size:25px;
}

.copyright {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    color:white;
    font-size:25px;
    }

.navbar-brand,.nav-link{
color:#FFF;
}
.navbar-brand,.nav-link:hover{
    color: gold;
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
flex:100;
margin:20px 20px 5px;
}