
.hero{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
width: 100%;
height: 100vh;
}
h3{
    color: white;
    font:2rem cormoran;
}

input[type=text]{
    display: flex;
  margin-right: 50px;
}

button{
    background-color: black;
    color: gold;
    box-sizing: border-box;
    border: 2px solid;
    border-radius:6px;
    margin: 20px;
    
}
button:hover{
    opacity: 0.8;
}
.container{
    background-color: white;
    display: flex;
   flex-flow: column;
    padding: 16px;
}
.info{
    flex: 100;
}
.img{
    margin: 20px;
}
.checked{
    margin-bottom: 10px;
}
.forgot{
    float: right;
    padding:16px;
    background-color: antiquewhite;
    box-sizing: border-box;
    border-radius: 2px;
}