.hero{
    background-color:blanchedalmond;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.container-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.box-1{
    flex: 100;
}
.box-2{
    flex: 100;
}