.main{
    width: 100%;
    height: 100vh;
    background: url(https://wallpapercave.com/wp/wp4078415.jpg);
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
}
.main-content{
    height: 100%;
    
}
.main-text h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;

}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.box-1 h2{
    color: red;
    text-decoration: underline;
}
.box-1 ul{
    box-sizing: border-box;
    margin-right: 30px;
    margin-left: 30px;
    background-color: antiquewhite;
    list-style-type:bullet;
    padding-bottom: 10px;
}
.box-2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.box-3{
   display: flex;
   flex-wrap: wrap;
}
.box-3 h5{
    margin-top: 6px;
    margin-left: 10px;
}
@media only  screen and (max-width: 768px){
    .main{
        height: auto;
    }
    .main-content{
        height: auto;
    }
    .main-text{
        padding: 140px 15px 40px;
        text-align: center;
    }
}