.main{
    width: 100%;
    height: 100%;
    background: url(https://wallpapercave.com/wp/wp4078415.jpg);
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
}
.main-content{
    height: 100%;
    
}
.main-text h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;

}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.box-1 h2{
    color: red;
    text-decoration: underline;
}
.box-1 ul{
    box-sizing: border-box;
    margin-right: 30px;
    margin-left: 30px;
    background-color: antiquewhite;
    list-style-type:bullet;
    padding-bottom: 10px;
}
.box-1,h4{
    margin-right: 30px;
    margin-left: 30px;
}
.box-2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.box-3{
   display: flex;
   flex-wrap: wrap;
   margin: 20px;
}
.box-3 h3{
    margin-left: 20px;
    color: red;
    text-decoration: underline;

}
.box-3 h5{
    background-color: antiquewhite;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 6px;
    margin-left: 10px;}

.box-4{
    padding-top: 10px;
}
.box-4 h2{
    color: red;
    text-decoration: underline;
}
.box-4 p{
    font-size: 1.2em;
    background-color: antiquewhite;
    box-sizing: border-box;
    border: solid;
    border-radius: 5px solid;
    margin-left: 30px;
    margin-right: 30px;

}
.box-4 h5{
    margin-right: 30px;
    margin-left: 30px;

}
.main-2{
    width: 100%;
    height: 100vh;
    background: url(images/pianeta\ in\ fiamme.jpeg);
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
}
.main-content2{
    height: 100%;
    
}
.main-text2 h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 60px;

}
