*{
    margin: 0;
    padding: 0;
}

/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {

    color: white;
}

/*immagine hero*/
.hero{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}
.header{
    font-size: 60px;
    text-decoration: underline;
}
.description{
    margin-left: 10px;
}
/*Css per background card progetti*/
/*bg card*/
.flex-container1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    gap: 10px;
    padding-top: 10px;
}
/*personalizzazione delle card*/
.box-1{
   flex:100;
   margin-left: 10px;
   margin-bottom: 5px;
}
.box-2{flex: 100;
margin-left: 10px;margin-bottom: 5px;}
.box-3{flex: 100;margin-left: 10px;margin-bottom: 5px;}
.box-4{flex: 100;margin-left: 10px;margin-bottom: 5px;}
.box-5{flex: 100;margin-left: 10px;margin-bottom: 5px;}
.box-6{flex: 100;margin-left: 10px;margin-bottom: 5px;}

/*custom delle card*/
.card{
    box-sizing: border-box;
    border-radius: 5px;
    border: #daa90a solid;  
}
/*custom btn*/
.btn{
    color:white ;
    background-color: #3bcc7f;}

.btn:hover{
    color: #daa90a;
    background-color:#FFFB7D
}
.btn::after{
    color: black;
    background-color: white;
}
/*footer*/
.footer{
    background-color: #30c073;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}
@media screen and (max-width: 768px){

    .footer{
        width: auto;
        height: auto;
    }
}
