*{
    margin: 0;
    padding: 0;
}

/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {

    color: white;
}

/*immagine hero*/
.hero{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}

/*Css per background card progetti*/
/*bg card*/
.project-grid{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

    box-sizing: border-box;
    border-radius: 10px;
}
/*spazio tra le card*/
.col-md-4{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
/*custom delle card*/
.card{
    box-sizing: border-box;
    border-radius: 5px;
    border: #daa90a solid;  
}
/*custom btn*/
.btn{
    color:white ;
    background-color: #3bcc7f;
}
.btn:hover{
    color: #daa90a;
    background-color:#FFFB7D
}
.btn::after{
    color: black;
    background-color: white;
}
/*footer*/
.footer{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}
@media screen and (max-width: 768px){

    .footer{
        width: auto;
        height: auto;
    }
}
