.hero{
    background: url(https://wallpapercave.com/wp/wp9098782.jpg);
    background-size: cover;
    height: 100vh;
max-width: ;width: 100%;
}
/*stile del primo container flex*/
.flex-container{
    display: flex;
}
/*stile del primo box flex*/

.box-1 h3{
    
    color:white;
    border-radius: 10px;
    margin-left: 20px;
}
.box-1 h5{

    color:white;
    border-radius: 10px;
    margin-left: 20px;
}
.box-1 img{
    margin-left: 20px;
  
}
/*stile secondo box-flex*/
.box-2 h3{
    color:white;
    border-radius: 10px;
    margin-left: 20px;
}
.box-2 h5{
    color:white;
    border-radius: 10px;
    margin-left: 20px;
}

.box-2 img{
    padding-top: 10px;
    margin-left: 20px;
}
