*{
    margin: 0;
    padding: 0;
}
/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {

    color:white;
}

/*Css hero*/
.main{

    width: 100%;
    height: 100vh;
    background: url(https://wallpapercave.com/wp/wp10271238.jpg);
    background-size: cover;
}
.main-content{
    max-width: 100%;
    height: 100%;
}
.main-title{
    padding: 200px 0 0 20px;
}
.main-title h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

    line-height: 45px;
}
.main-title h2{
    font-size: 30px;
    font-weight: 300;
    color:white;
    margin-top: 45px;
    
    margin-bottom: 20px;
    line-height: 32px;
}
.main-title h3{
    color: white;
}
.btn{
    color: black;
  background-color:white;
  margin-top: 20px;
}
.btn:hover{
    color: white;
    background-color: black;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}


/*media query*/
@media screen and (max-width: 768px){
    .main{
        height:auto;
    }
    .main-content{
        width: auto;
    }
    .main-title{
        padding: 140px 15px 40px;
        font-size: calc(50vh+35px);
        width: auto;
    }
    .header{
        width: auto;
        height: auto;
    }
    .footer{
        width: auto;
        height: auto;
    }
}