.navbar-brand{
color: white;
}
.nav-link{
    color:white;
}
/* img di hero */
.bgimage {
    height:100vh;
    background: url('images/80A40986-FCD5-4A0B-9413-E47CCB641733_1_105_c.jpeg');
    background-size:cover;
    position:relative;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 100vh;
}
/* modifiche al testo*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*footer*/
.flex-container,
footer {
    background: rgb(92,178,106);
background: linear-gradient(90deg, rgba(92,178,106,1) 0%, rgba(255,254,0,0.7609418767507002) 100%);
display: flex;

}
.flex-container
{
    display:flex;
flex-direction: row;

}
.flex-container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}
.icone-social{
    list-style: none;
}
.li{
    font-size: calc(1.4em+2vw);
}
.ul-class{
    bottom: 10px;
}