
/*Css hero*/
.main{

    width: 100%;
    height: 100vh;
    background:url(https://wallpapercave.com/wp/wp8962708.jpg);
    background-size: cover;
    
}
.main-content{
    max-width: 100%;
    height: 100%;
    
}
.main-title{
    padding: 200px 0  0 40px ;
}
.main-title h1{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    line-height: 45px;
}
.main-title h2{
    font-size: 24px;
    font-weight: 300;
    color:white;
    margin-bottom: 20px;
    line-height: 32px;
}
.main-title h3{
    color: white;
    font-size: 24px;
font-style: italic;    
}
.main-title button{
margin-top: 80px;
    box-sizing: border-box;
    color: crimson;
    background-color: white;
}
.btn:hover{
    color:white ;
    background-color: red;
}
.footer{
    color: brown;
    background-color: rgb(231, 225, 218);
    font-weight: 600;
    text-decoration: underline;
    font-size: 20px;
    position: sticky;
    
    
}
.footer li{
    font-weight: 500;
}

/*media query*/
@media screen and (max-width: 768px){
    .main{
        height:auto;
    }
    .main-content{
        width: auto;
    }
    .main-title{
        padding: 140px 15px 40px;
        font-size: calc(50vh+35px);
        width: auto;
    }
    .header{
        width: auto;
        height: auto;
    }
    .footer{
        width: auto;
        height: auto;
        position: sticky;
    }
}