*{
    margin: 0;
    padding: 0;
}
/*navbar css*/
.navbar-brand{
    color: white;
}

.nav-link {

    color:white;
}
.nav-link :active{
    color: aqua;
}
/*Css dei div con la mia foto e descrizione*/
.section{/*immagine di background*/
    background: linear-gradient(90deg, rgba(92,178,112,1) 0%, rgba(244,242,105,1) 100%)}
.text-center{
    font-family:cormoran;
    font-size: 10vh;
    background-color: navajowhite;
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 10px;
    
}
.foto-personale {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 50px ;
    height: 500px;
    border: 1vh;
    padding-bottom: 10px;

}

.col-lg-8{
    text-align: center;
    padding-top: 50px;
    font-family: cormoran;
    font-size: 3vh;
}
.col-md-4{
text-align: center;
text-decoration: underline;
box-sizing: border-box;
border-radius: 10px;
color: white;
}
.col-lg-12{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
    font-family: cormoran;
    font-size: 3vh;
}
.col-md-4{
    color:white;
}
.card{
    background-color:rgb(128, 175, 56);
}
/*immagine Hero*/
.hero{
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
/*footer*/
.footer{
    color: black;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    
}
.p{
    background-color: black;
}

@media screen and (max-width: 768px){

    .footer{
        width: auto;
        height: auto;
    }
}
